@import "../../../sass/abstracts/variables";
@import "../../../sass/abstracts/mixins";

.cart-item {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    line-height: 1.6rem;
    min-height: 20rem;
    width: 100%;
    border-top: 1px solid $border-color;

    &__pizza {
        display: flex;
        align-items: center;
    }

    &__preview {
        width: 100%;
        flex: 0;

        @include respond(tab-port){
            display: none;
        }
       /* @media only screen and (max-width: 810px){
            display: none;
        }*/
    }

    &__description {
        min-height: 14rem;
        margin-right: 2rem;
    }

    &__details {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 15rem;
        align-items: center;
        padding: 2rem;
    }
}