@import url('https://fonts.googleapis.com/css?family=Permanent%20Marker&display=swap');
@import url('https://fonts.googleapis.com/css?family=Manrope:400,500,600,700&display=swap');

body {
  font-size: $default-font-size;
  font-weight: 300;
  font-family: 'Manrope', sans-serif;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  font-size: 1.6rem;
  font-weight: 600;
}

h3 {
  font-size: 1.4rem;
  font-weight: 700;
}

.link,
.link:link,
.link:visited {
  text-decoration: none;
  color: $primary-red;
  font-size: 1.5rem;
  cursor: pointer;
}

.link:hover {
  color: $primary-red;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: white;
}
