$header-height: 6rem;

$primary-red: rgb(172, 3, 3);
$secondary-red: rgb(150, 2, 2);
$primary-black: #2e2e2e;
$secondary-black: #000000;

$border-color: #ccc;

$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f4f2f2;
$color-grey-light-3: #f0eeee;
$color-grey-light-4: #ccc;

$color-grey-dark-1: #333;
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;

$shadow-dark: 0rem 2rem 6rem rgba(0, 0, 0, .3);
$shadow-light: 0rem 2rem 5rem rgba(0, 0, 0, .06);