@import '../../sass/abstracts/mixins';

.order {
  &__date-address {
    display: flex;
    flex-direction: column;

    @include respond(phone) {
      margin-bottom: 1rem;
    }
  }

  &__date {
    display: flex;
    align-items: baseline;
    margin-bottom: 1rem;
    font-size: 1.6rem;
  }

  &__total {
    display: flex;
    align-items: baseline;
    font-size: 1.6rem;
  }
}
