@import '../../../sass/base/variables';

.navigation-item {
  width: 100%;
  height: 100%;
  background-color: $primary-black;
  color: white;
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
  list-style-type: none;
  transition: 0.5s;

  &__link {
    width: 100%;
    padding: 0 1.75rem;

    &--vertical {
      padding: 0 2.5rem;
    }
  }

  &__content {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;

    &--vertical {
      height: 5rem;
      justify-content: flex-start;
    }
  }

  &:hover {
    background-color: $secondary-black;
  }
}
