.item {
    border: 1px solid black;
   // width: auto;
    padding: 2rem;
    border-radius: 1rem;
    display: inline-flex;
    justify-content: flex-start;

    &__options {
        display: flex;
        flex-direction: column;
        margin-right: 5rem;
    }

    &__crust {
       // margin-bottom: 2rem;
    }

    &__image {
        height: 15rem;
        border-radius: 20%;
    }
}