@import '../../../sass/abstracts/variables';

.modal {
    position: absolute;
    width: 70%;
    height: 100vh;
    z-index: 500;
    top: 5rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    box-shadow: 0 1rem 2rem $color-grey-dark-1;
    border: 1px solid #ccc;
    padding: 1.6rem;
    transition: all .3s ease-out;
    opacity: 1;

    &--closed {
        transform: translate(-50%, -100vh);
        opacity: 0;
    }
}

