@import "../../../sass/abstracts/variables";

.main {
    margin-top: $header-height;
    padding: 2rem;
    overflow: hidden;
    background-color: $color-grey-light-3;
    min-height: 60vh;
    position: relative;
}