@import "../../sass/abstracts/variables";

.pizza {
    border: .5px solid $border-color;
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    transition: all .2s;
    background-color: white;

    &__crust {
        margin-bottom: 2rem;
        width: 30rem;
        @media only screen and (min-width: 880px) and (max-width: 1140px) {
            width: 20rem;
        }
    }

    &__size {
        margin-bottom: 2rem;
        width: 30rem;
        @media only screen and (min-width: 880px) and (max-width: 1140px) {
            width: 20rem;
        }
    }

    &__name-price {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 2rem;
    }

    &__name {
        margin-bottom: 1rem;
    }

    &__options {
        display: flex;
        flex-direction: column;
        margin-right: 2rem;
    }

    &__add {
        display: flex;
    }

    &__quantity {
        margin-right: 2rem;
    }

    &__right {
        height: 100%;
        width: 100%;
        font-size: 1.5rem;
        align-self: flex-end;
    }

    &__image {
        height: 15rem;
        border-radius: 20%;
        margin-bottom: 2rem;
    }
}

.empty-button {
    height: 5rem;
    width: 100%;
}

.builder-link {
    width: 100%;
    text-decoration: none;
}