.home {
  text-align: center;
  padding: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, 50rem);
  grid-row-gap: 4rem;
  grid-column-gap: 2rem;
  align-items: start;
  justify-items: center;
  justify-content: center;
}
