@import '../../sass/abstracts/mixins';

.order {
  &__date-address {
    display: flex;
    flex-direction: column;

    @include respond(phone) {
      margin-bottom: 1rem;
    }
  }

  &__date {
    display: flex;
    margin-bottom: 1rem;
  }

  &__address-container {
    display: flex;
    flex-direction: column;
  }

  &__address {
    display: flex;
    flex-direction: column;
  }

  &__total {
    display: flex;
  }
}
