.item {
  display: flex;
  justify-content: space-between;
  min-height: 15rem;
  width: 100%;
  border-top: 1px solid $border-color;
  padding: 2rem;

  @include respond(phone) {
    flex-direction: column;
    align-items: center;
  }

  &--order {
    justify-content: center;
  }

  &__pizza {
    display: flex;
    align-items: flex-start;
    margin-right: 2rem;

    @include respond(phone) {
      margin-right: 0;
    }
  }

  &__preview {
    width: 100%;
    flex: 0;

    @include respond(tab-port) {
      display: none;
    }
  }

  &__description {
    min-height: 14rem;
    max-width: 40rem;
    flex: 1;
  }

  &__details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 15rem;
    align-items: center;
    padding: 2rem;

    @include respond(phone) {
      width: 75%;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__price {
    @include respond(phone) {
      display: none;
    }
  }

  &__actions {
    display: flex;

    span:not(:last-child) {
      margin-right: 2rem;
    }
  }

  &__empty {
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid $border-color;
    width: 100%;
  }
}
