@import "../../sass/abstracts/variables";

.signInContainer {
    display: flex;
    justify-content: center;
}

.form {
    width: 100%;
}

.signin {
    width: 40rem;
    padding: 2rem;
    border: 1px solid $border-color;
    display: flex;
    justify-content: center;
}