@import "../../../sass/abstracts/variables";

.builder-list {
    display: flex;
    flex-direction: column;
  }
  
  
  .list-option {
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    border-top: 1px solid $border-color;
  
    &--selected {
        background-color: $primary-color;
    }
  }