@import '../../../sass/base/variables';
@import '../../../sass/abstracts/mixins';

.footer {
  width: 100%;
  padding: 2rem;
  color: white;
  background-color: $primary-black;
  display: flex;
  justify-content: center;

  &__links {
    display: flex;

    a:not(:last-child) {
      margin-right: 2rem;
    }

    @include respond(phone) {
      flex-direction: column;
      align-items: center;
      a:not(:last-child) {
        margin-bottom: 2rem;
        margin-right: 0rem;
      }
    }
  }
}
