@import "../../../sass/abstracts/variables";

.preview {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;


  &__title {
    margin-bottom: 2rem;
  }

  &__description {
    margin-bottom: 2rem;
  }

  /*&__properties {
    width: 30rem;
    height: 30rem;
  }*/
  
  &__property {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
  }
}