@import "../../../sass/abstracts/variables";

.preview {
  position: relative;
  width: 100%;
  height: 100%;


  &__description {
    margin-bottom: 2rem;
  }

  &__property {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
  }
}