@import "../../../sass/abstracts/mixins";

.description {
  line-height: 2;
  padding: 2rem;

  &__title {
    display: flex;
    align-items: baseline;

  }

  &__pizza {
    margin-right: 2rem;
  }

  

  &__price {
    @include respond(tab-port) {
      display: none;
    }
    @include respond(phone) {
      display: block;
    }
  }
}
