@import "../../sass/abstracts/variables";

.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: $header-height;
    background-color: $primary-black;
    z-index: 1000;
    display: flex;
    justify-content: space-around;

    &__cart {
        position: relative;
        font-size: 3rem;
        color: white;
        height: 3.5rem;
        display: flex;
        align-items: center;
    }

    &__add-item {
        position: absolute;
        top: 4rem;
        left: -14rem;
        height: auto;
        width: auto;
        background-color: white;
        color: black;
        border: 1px solid $border-color;
        transition: all .3s;
        opacity: 0;
        white-space: nowrap;
    }

    &__alert-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2rem;
    }

    &__alert-text {
        margin-bottom: 2rem;
    }

    &__checkout {
        width: 100%;
    }

    &__cart-items {
        position: absolute;
        right: -.25rem;
        top: -0.25rem;
        height: 1.5rem;
        width: 1.5rem;
        border-radius: 100%;
        background-color: $primary-red;
        color: white;
        font-size: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}

.animate-item-added {
    animation: show-item-added 4s;
}

@keyframes show-item-added {
    0% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


.animate-num-items {
    animation: pulsate 1s 3;
}

@keyframes pulsate {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.40);
    }

    100% {
        transform: scale(1);
    }
}
