@import "../../../sass/abstracts/variables";

.optionsButton {
  border: 1px solid $border-color;
  border-radius: 100px;
  display: flex;

  &__option {
    width: 100%;
    border: none;
    background-color: none;
    border-radius: 100px;
    outline: none;
    font-size: inherit;
    font-family: inherit;
  }
}
